.palette {
  --g:30px; /* The gap between shapes*/
  --s:60px; /* the size*/

  height: 250px;
  width: 250px;
  position:relative;
  overflow:hidden;
}
.palette > * {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border:var(--s) solid var(--c); /*changing border size changes size of sahpe*/
  border-radius:50%;
  transform:rotate(90deg);
 clip-path:polygon(
    calc(50% + var(--g)/2) 50%, 
    calc(50% + var(--g)/2) 0%, 
    calc(86.327% - var(--g)/2) 0%,
    50% calc(50% - var(--g)/2));  
  }
.color1 {
  transform:rotate(90deg);
  --c:blue;
}
.color2 {
  transform:rotate(112.5deg);
  --c:orange;
}
.color3 {
  transform:rotate(135deg);
  --c:green;
}
.color4 {
  transform:rotate(157.5deg);
  --c:purple;
}