.profilePageContainer {
    padding: 0vh 0vh 20vh 0vh;
  }
  
  .profileContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .profileBody {
    display: flex;
    gap: 32px;
  }
  
  .profileMainContent {
    flex: 2;
  }
  
  .profileSidebar {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .profilePageContainer {
      padding: 16px;
    }
  
    .profileBody {
      flex-direction: column;
    }
  }
  